<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Kolehiyo</title>
    <meta name="description" content="Your AI-powered college decision buddy for Filipino senior high school students.">
    <link rel="stylesheet"  href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet"  href="assets/css/bs-theme-overrides.css">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="index.html"><span>Project Kolehiyo</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="chat.html">Chat</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                </ul><a class="btn btn-primary shadow" role="button" data-bs-toggle="modal" data-bs-target="#modal-1">Donate</a>
            </div>
        </div>
    </nav>
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5 mt-0">
                <div class="col d-md-flex align-items-md-center" style="text-align: center;display: block;"><img class="img-fluid w-75 w-md-100 d-md-flex mx-auto pb-4" src=" assets/img/illustrations/ChatGPT%20Image%20Apr%2017,%202025,%2003_03_04%20PM.png" style="text-align: center;" width="259" height="259"></div>
                <div class="col-md-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1>Not sure what to take in college? </h1>
                        <h1 class="display-4 fw-bold mb-3">Let’s figure it out&nbsp;<span class="underline">together</span></h1>
                        <p class="fs-5 text-muted mb-5">Project Kolehiyo is your AI-powered college decision buddy for Filipino senior high school students.</p>
                        <form class="d-flex justify-content-center flex-wrap" method="post" data-bs-theme="light">
                            <div class="shadow-lg mb-3"></div>
                            <div class="shadow-lg mb-3"><a class="btn btn-primary" role="button" href="chat.html">Start Chatting</a></div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative mt-0"></div>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2025 Project Kolehiyo</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="https://github.com/kyleylikey"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-github" style="font-size: 16px;">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"></path>
                            </svg></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/kyle-baldoza-63a9b8277/"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-linkedin">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401m-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4"></path>
                            </svg></a></li>
                    <li class="list-inline-item"><a href="https://www.upwork.com/freelancers/~01e7d32a307a01f02d?mp_source=share"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-upwork">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 7v5a3 3 0 0 0 6 0v-5h1l4 6c.824 1.319 1.945 2 3.5 2a3.5 3.5 0 0 0 0 -7c-2.027 0 -3.137 1 -3.5 3c-.242 1.33 -.908 4 -2 8"></path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold">Support the Developer</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>or more like... a struggling college student XD<br><br>Anyway!<br><br>If you found this project helpful and you’re feeling generous, any amount of support would mean the world to me. 🫶<br><br>As a college student powered by instant noodles and tight deadlines, your donation helps keep this passion project (and possibly my caffeine supply) alive. ☕🍜<br><br>Thanks a ton for being awesome! 💖</p><a class="btn btn-secondary" role="button" href="signup.html" data-bs-toggle="modal" data-bs-target="#modal-2">Donate</a>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">GCash QR Code</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" style="text-align: center;"><img class="pb-0 w-100" style="height: initial;" src="assets/img/489523914_674916141962822_5059937341007216183_n.jpg"></div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal" data-bs-target="#modal-1" data-bs-toggle="modal">Back</button></div>
            </div>
        </div>
    </div>
    <script src=" assets/bootstrap/js/bootstrap.min.js"></script>
    <script src=" assets/js/chat.js"></script>
    <script src=" assets/js/startup-modern.js"></script>
</body>

</html>